.button {
  border-radius: 20px;
  display: inline;
  background-color: #bee488;
  border: 0;
  cursor: pointer;
  /* font-size: 16px; */
  padding: 5px 10px;
  height: 30px;
}

.no-box {
  display: inline;
  border: 0;
  cursor: pointer;
  /* font-size: 16px; */
  background-color: transparent;
}

/* NOTE
* margin을 prop에서 받아서 처리하도록 ex.mui
*/
