.input {
  height: 30px;
  padding: 8px 10px;
  /* margin: 10px; */
  /* border: 1px solid black; */
  border: none;
  border-radius: 5px;
  background-color: #ededed;
}

.input:focus {
  outline: none;
}

.no-box {
  /* width: 100%; */
  width: 90%;

  border: none;
  background-color: transparent;
  padding: 0;
}

.no-box:focus {
  outline: none;
}
