html {
  overflow-y: scroll;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* box-sizing: border-box; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* NOTE: 이렇게 맘대로 설정해도 될까? */
li {
  list-style: none;
  margin: 8px 0;
}
